main{
    margin: 20px 250px;
}
.section1{
    margin-bottom: 200px;
}
.section1 div{
    margin: 30px auto;
}
.cart_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_list li{
    list-style: decimal;
    padding: 5px 50px;
    border: 1px solid black;
}
.table{
    width: 100%;
}
.table thead,tbody{
    border-bottom: 1px solid grey;
}
.table thead,tbody th,td{
    padding: 20px 0px;
}
.table tfoot td{
    border-bottom: none;
}
.total{
    display: flex;
    justify-content: space-between;
}
.next{
    display: flex;
    justify-content: center;
}
.next_button{
    padding: 10px 40px;
    background-color: #DAB598;
    border: none;
    border-radius: 6px;
    
}
.delete{
    text-decoration: none;
    color: black;
}
.delete:hover{
    cursor: pointer;
    color: red;
}
#container{
    border: 1px solid black;
    padding: 25px 100px;
}
.subtotal{
    display: flex;
    justify-content: space-between;
}
.shipping{
    display: flex;
    justify-content: space-between;
}
.total{
    border-top: 1px solid black;
    padding-top: 25px;
}
.confirm{
    display: flex;
    justify-content: center;
}
.confirm_button{
    padding: 10px 40px;
    background-color: #DAB598;
    border: none;
    border-radius: 6px;
}
.error{
    color: red;
}