main{
    margin: 20px 250px;
}
.section1 div{
    margin: 30px auto;
}
.cart_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_list li{
    list-style: decimal;
    padding: 5px 50px;
    border: 1px solid black;
}
table{
    width: 100%;
}